
<form [formGroup]="form">
  <div>
    Phone:<input formControlName="phoneNo">
  </div>

  <div>
    Email:<input formControlName="email">
    <span style="color: red;" *ngIf="form.get('email')?.errors?.['email']">Email is invalid</span>
  </div>

  <div>
    Password:<input formControlName="password">
    <span style="color:red;" *ngIf="form.get('password')?.errors?.['required']">Password required</span>
    <span style="color: red;" *ngIf="form.hasError('minlength', 'password')">Password must be {{form.get('password')?.errors?.['minlength'].requiredLength}} characters long, we need another...{{form.get('password')?.errors?.['minlength'].requiredLength - form.get('password')?.errors?.['minlength'].actualLength}}... characters</span>

  </div>

  <div>
    Confirm Password:<input formControlName="confirmpassword">
    <span style="color:red;" *ngIf="form.get('confirmpassword')?.errors?.['required']">Password required</span>
  </div>
</form>
<p>
  Form data below
</p>
<code>
  {{form.value | json}}
</code>
