Hello {{ friend.name }}
<p>Friend's information:
  name ={{ friend.name }},
  email = {{ friend.email }},
  age = {{ friend.age }} </p>



<form [formGroup]="friendForm">
  <div class="form-group">
    <label >Friend name:</label>
    <!-- <input formControlName="FriendName"/> -->
    <input [ngModel]="friend.name" formControlName="FriendName"/>
    <!-- <input [(ngModel)]="friend.name"formControlName="FriendName"> -->
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <!-- <input formControlName="FriendEmail"> -->
    <input [ngModel]="friend.email" formControlName="FriendEmail"/>
    <!-- <input [(ngModel)]="friend.email"formControlName="FriendEmail"> -->
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <!-- <input formControlName="FriendAge"> -->
    <input [ngModel]="friend.age" formControlName="FriendAge"/>
    <!-- <input [(ngModel)]="friend.age"formControlName="FriendAge"> -->
  </div>


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" (click)="changeDefaultName('CS')">Click to change name</button>
    </div>
    <div class="control">
      <button class="button is-link" [disabled]="friendForm.invalid" (click)="onSubmit(friendForm)">Submit in to data model</button>
    </div>
  </div>

</form>

 <p><b>Retrieve values from the form: </b> <br/>

  {{ friendForm.value | json }}  <br/>
  {{ friendForm.get("FriendName")?.value}} <br/>
  {{ friendForm.get("FriendEmail")?.value}}  <br/>
  {{ friendForm.get("FriendAge")?.value}}
</p>

<p><b>Retrieve values from the model:</b><br/>
    {{friend.name}}<br/>
    {{friend.email}}<br/>
    {{friend.age}}
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let f of friends">
      <td>{{ f.name }}</td>
      <td>{{ f.email }}</td>
      <td>{{ f.age }}</td>
    </tr>
  </tbody>
</table>

